.banner img {
    filter: brightness(50%);
}

footer {
    background-color: #161616;
    color: white;
}

@media only screen and (max-device-width: 576px) {
    .row-width {
        width: 300px;
    }

    .company-area {
        display: none;
    }
}